*{
    box-sizing: border-box;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
    height: 650px;
    background-color:  rgba(162, 113, 207, 0.691);
    align-items: center;
}
.item{
    display: flex;
    display: block;
    align-items: center;
    background-color: rgba(122, 230, 194, 0.787);
    margin: 15px;
    padding: 15px;
    width: 150px;
    align-items: stretch;
    
}
img{
    height: 100px;
    align-items: center;
}
.shrek{
    order: 5;
    align-self: center;

}
.burro{
    order: 3;
    align-self: center;
}
.fiona{
    order: 1;
    align-self: flex-start;
    height: 95%;
}

.gato{
    order: 2;
    align-self: flex-end;
}

.pinocho{
    order: 4;
    align-self: flex-start;
}